#analyze-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-container {
    width: 70%; /* Adjust as needed */
    height: 90%; /* Reset height */
    padding-top: 0%; /* Makes it a square */
    position: relative;
    overflow: hidden;
    
}

#analyze-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 5vh;
    position: relative;
}

#spotify-button {
    background-color: #1DB954;
    height: 100%;
}

#spotify-button:hover {
    background-color:rgb(228, 238, 225);
    color: #1DB954;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.3s ease-in-out;
}

#div-to-playlists{
    height: 100%;
}

#button-to-playlists{
    height: 100%;
    background-color: #1DB954;
    position: absolute;
    left: 80%;
    gap: 10%;
}

#button-to-playlists:hover {
    padding-left: 40px;
    background-color:rgb(228, 238, 225);
    color: #1DB954;
    transition: 0.3s ease-in-out;
}